            *{
                margin:0;
                padding:0;
            }
            #text{
                text-align: center;
                font-family: 'Rajdhani', sans-serif;
                background-color:darkcyan;
                color: aliceblue;
               
            }
            #shape{
                width: 200px;
                height: 200px;
                border: 2px solid #3e3939;       
                background-color: red;
                display:none;
                position: relative;   
            }
